<div class="container-fluid p-0">
    <div class="fst-section">
        <div class="row h-100">
            <div class="col-md-6">
    
            </div>
            <div class="col-md-6">
                <div class="frss-content">
                    <div class="frssc-inner">
                        <h2>Come Fly with Mosher Media</h2>
                        <h6>True Empowerment</h6>
                        <p>Mosher Media is a Bangalore based company offering unique media solutions and a variety of services. Our business is setting the industry standards, positioning us as category leaders worldwide. Our team members are technology veterans, committed to providing smart solutions for any size of project. Contact us to request a demo or meet a member of our team.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-para-box">
        <div class="dp-content">
            <h2>Our Story</h2>
            <p>Mosher Media is a leading provider of cutting-edge technologies and services, offering scalable solutions for businesses of all sizes. Founded by a group of friends who started by scribbling their ideas on a piece of paper, today we offer smart, innovative services to dozens of clients worldwide. Why not join our fast growing client base? Get in touch today to learn more.</p>
            <a href="javascirpt:void:" class="btn btn-primary">Learn More</a>
        </div>
    </div>

    <carousel>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg">            
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg">            
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg">
        </div>
    </carousel>

    <div class="d-para-box">
        <div class="dp-content">
            <h2>Our Technology</h2>
            <p>Smart solutions are at the core of all that we do at mosher.media. Our main goal is finding smart ways of using technology that will help build a better tomorrow for everyone, everywhere. Click below to learn more about the technology behind our Media Startup, or get in touch to set up a meeting with one of our representatives.</p>
            <a href="javascirpt:void:" class="btn btn-primary">Explore</a>
        </div>
    </div>

    <carousel>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg" width="300">            
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg" width="300">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg" width="300">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg" width="300">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg" width="300">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg" width="300">            
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg" width="300">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg" width="300">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg" width="300">
        </div>
        <div class="carousel-cell">
            <img src="../../../assets/img/bg.jpg" width="300">
        </div>
    </carousel>

    <div class="get-in-touch">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Get in Touch</h2>
                    <a href="javascript:void(0);" class="emailer">info@mosher.media</a>
                </div>
                <div class="col-md-6">
                    <form class="form-default">
                        <div class="mb-5">
                            <label class="form-label">Name</label>
                            <input type="email" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="mb-5">
                            <label class="form-label">Address</label>
                            <input type="password" class="form-control" placeholder="Enter your address">
                        </div>
                        <div class="mb-5">
                            <label class="form-label">Email</label>
                            <input type="password" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="mb-5">
                            <label class="form-label">Phone</label>
                            <input type="password" class="form-control" placeholder="Enter your phone">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-section">
        <img src="../../../assets/img/bg-bottom.webp" class="img-fluid">
    </div>
</div>